body {
  background: #000;
  background-image: url(../images/index.jpg);
  color:#caa151;
  font-family: "Josefin Sans", sans-serif;
/*font-weight: bold; */
}

h1, h2, h3 {
  font-family: "Berkshire Swash", sans-serif;
  color:#caa151;
  text-shadow: 3px 3px 3px #510321;
  font-style:oblique;
/*font-size:30px; */
}

p {
  color:rgb(224, 162, 38);
}

li, a {
 color:burlywood;
}

legend, fieldset {
  color: #510321;
  /*color:rgb(8, 8, 8);*/
  background-color: burlywood;
  border: double #121212;

}

.rate {
  color:rgb(134, 182, 224);
}

.container {
  column-width: 200px;
}

.wrapper {
  display: flex;
}

.wrapper > div {
  flex: 1;
}


ul
li
ol
hr
span
figure
input
fieldset

div {
  border: double cornflowerblue;
}


.wow {
  width: 100px;
}
